[Unit]
Description=Logitech Configuration Daemon
StartLimitIntervalSec=0
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/logid -c /home/broly/.config/logid.cfg
User=root

[Install]
WantedBy=graphical.target